[submodule "roles/geerlingguy.git"]
	path = roles/geerlingguy.git
	url = https://github.com/geerlingguy/ansible-role-git
[submodule "roles/geerlingguy.mysql"]
	path = roles/geerlingguy.mysql
	url = https://github.com/geerlingguy/ansible-role-mysql
[submodule "roles/geerlingguy.pip"]
	path = roles/geerlingguy.pip
	url = https://github.com/geerlingguy/ansible-role-pip
